@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  /* display: flex; */
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 100%;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  margin: 1rem 10px 1rem 10px;
}

.item {
  width: 90%;
  margin: auto;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 100%;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ffe83b 0%, #000000 150%);
}

.progress {
  background: linear-gradient(90deg, #000000 0%, #ffe83b 150%);
}

.done {
  background: linear-gradient(90deg, #ffe83b 0%, #000000 150%);
}

.hold {
  border: 1px solid rgb(113, 113, 113);
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #ffe83b;
}